<% if params[:notable_type].present? %>
  <%= link_to 'Clear Filters', notes_path, class: 'btn btn-sm btn-destructive btn-muted' %>
<% end %>

<div id="note-filters" class="my-4 space-y-1">
  <div class="flex flex-wrap items-center gap-1">
    <%= link_to notes_path(note_type: "all"), class: 'inline-block', style: "view-transition-name: all-notes" do %>
      <span class="tag tag-filter <%= 'tag-selected' unless @selected_note_type.in?(%w[active archived]) %>">
        <%= icon "layers", class: "size-4 -ml-px shrink-0" %>
        <span>All</span>
      </span>
    <% end %>

    <% ['active', 'archived'].each do |note_type| %>
      <%= link_to notes_path(params.permit(:notable_type).merge(note_type: note_type == @selected_note_type ? 'all' : note_type)), class: 'inline-block', style: "view-transition-name: #{note_type}-notes" do %>
        <span class="tag tag-filter <%= 'tag-selected' if note_type == @selected_note_type %>">
          <%
            note_type_icon =
              case note_type
              when "active" then "check-circle"
              when "archived" then "archive"
              end
          %>
          <%= icon note_type_icon, class: "size-4 -ml-px shrink-0" %>
          <span><%= note_type.titlecase %></span>
          <%= icon 'x-mini' if note_type == @selected_note_type && note_type != 'all' %>
        </span>
      <% end %>
    <% end %>
  </div>

  <div class="flex flex-wrap items-center gap-1">
    <%= link_to notes_path(notable_type: params[:notable_type] == 'JobLead' ? nil : 'JobLead', note_type: @selected_note_type), class: 'inline-block', style: "view-transition-name: job-lead-notes" do %>
      <span class="tag tag-filter <%= 'tag-selected' if params[:notable_type] == 'JobLead' %>">
        <%= icon "briefcase", class: "size-4 -ml-px shrink-0" %>
        <span>Job Leads</span>
        <%= icon 'x-mini' if params[:notable_type] == 'JobLead' %>
      </span>
    <% end %>
    <%= link_to notes_path(notable_type: params[:notable_type] == 'Interview' ? nil : 'Interview', note_type: @selected_note_type), class: 'inline-block', style: "view-transition-name: interview-notes" do %>
      <span class="tag tag-filter tag-interview <%= 'tag-selected' if params[:notable_type] == 'Interview' %>">
        <%= icon "interview", class: "size-4 -ml-px shrink-0" %>
        <span>Interviews</span>
        <%= icon 'x-mini' if params[:notable_type] == 'Interview' %>
      </span>
    <% end %>
  </div>
</div>
