<%= form_with(model: note, class: "mx-auto mt-6") do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mb-4">
      <h2 class="text-lg font-bold mb-2"><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>
      <ul class="list-disc ml-6 text-red-600">
        <% note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if note.notable_type.present? && note.notable_id.present? %>
    <%= form.hidden_field :notable_type %>
    <%= form.hidden_field :notable_id %>
  <% end %>

  <% placeholder = {
    'JobLead' => 'Add additional details about this job lead, why you’re interested, or any next steps.'
  } %>

  <div class="space-y-6">
    <div>
      <%= form.label :content, 'Note', class: 'sr-only' %>
      <div class="form-textarea-wrap" data-replicated-value="<%= form.object.content.to_s %>">
        <%= form.text_area :content, class: 'form-textarea', rows: 6, placeholder: placeholder[note.notable_type], oninput: "this.parentNode.dataset.replicatedValue = this.value" %>
      </div>
    </div>
    <div>
      <%= form.submit note.persisted? ? 'Save Changes' : 'Save Note', class: 'btn btn-primary w-full sm:w-auto' %>
    </div>
  </div>
<% end %>
