<% content_for :title, 'Notes' %>

<div class="sm:w-7/8 w-full mx-auto">
  <div class="mb-4 flex flex-wrap gap-2 items-center justify-between">
    <%= link_to root_path, class: 'btn btn-sm btn-secondary btn-muted gap-1.5' do %>
      <%= inline_svg_tag 'icons/arrow-left.svg', class: 'size-3.5 shrink-0' %>
      <span>Back Home</span>
    <% end %>
  </div>

  <div class="flex flex-wrap justify-between items-center gap-2 mb-4">
    <div>
      <h1 class="heading">
        Notes
      </h1>
      <span class="ml-1 text-sm text-muted font-normal align-middle">
        <span class="[view-transition-name:note-count]"><%= pluralize(@notes.size, 'note') %></span>
      </span>
    </div>
    <div class="flex gap-2 ml-auto">
      <%= link_to 'All Notes', notes_path, class: 'btn btn-primary btn-muted [view-transition-name:filter-btn-all-notes]' if params[:notable_type].present? %>
      <%= link_to 'Job Lead Notes', notes_path(notable_type: 'JobLead'), class: 'btn btn-secondary btn-muted [view-transition-name:filter-btn-job-lead-notes]' unless params[:notable_type] == 'JobLead' %>
      <%= link_to 'Interview Notes', notes_path(notable_type: 'Interview'), class: 'btn btn-secondary btn-muted [view-transition-name:filter-btn-interview-notes]' unless params[:notable_type] == 'Interview' %>
    </div>
  </div>

  <div id="notes" class="@container">
    <% if @notes.any? %>
      <div class="grid grid-cols-1 <%= ' @xl:grid-cols-2' if @notes.size >= 2 %> <%= '@3xl:grid-cols-3' if @notes.size >= 3 && @notes.size != 4 %> gap-3">
      <% @notes.each do |note| %>
        <%= render note %>
      <% end %>
      </div>
    <% else %>
      <div class="empty-state">
        No notes found.
      </div>
    <% end %>
  </div>
</div>
