<% content_for :title, 'Notes' %>

<div class="sm:w-7/8 w-full mx-auto">
  <div class="mb-4 flex flex-wrap gap-2 items-center justify-between">
    <%= link_to root_path, class: 'btn btn-sm btn-secondary btn-muted gap-1.5 [view-transition-name:back-btn]' do %>
      <%= inline_svg_tag 'icons/arrow-left.svg', class: 'size-3.5 shrink-0' %>
      <span>Back Home</span>
    <% end %>
  </div>

  <div class="mb-4">
    <h1 class="heading">
      Notes
    </h1>
    <span class="ml-1 text-sm text-muted font-normal align-middle [view-transition-name:note-count]">
      <%
        singular_note_text =
          if params[:notable_type] == 'JobLead'
            'job lead note'
          elsif params[:notable_type] == 'Interview'
            'interview note'
          else
            'total note'
          end
      %>
      <%= pluralize(@notes.size, singular_note_text) %>
    </span>
  </div>

  <div class="mb-4">
    <p class="ml-1 text-sm text-muted mb-1 [view-transition-name:note-filters-label]">
      Show notes for:
    </p>
    <div class="flex flex-wrap items-center gap-1">
      <%= link_to notes_path(notable_type: nil), class: 'inline-block', style: "view-transition-name: all-notes" do %>
        <span class="tag tag-filter <%= 'tag-selected' unless params[:notable_type].present? %>">All</span>
      <% end %>

      <%= link_to notes_path(notable_type: params[:notable_type] == 'JobLead' ? nil : 'JobLead'), class: 'inline-block', style: "view-transition-name: job-lead-notes" do %>
        <span class="tag tag-filter <%= 'tag-selected' if params[:notable_type] == 'JobLead' %>">
          <span>Job Leads</span>
          <%= inline_svg_tag 'icons/x-mini.svg' if params[:notable_type] == 'JobLead' %>
        </span>
      <% end %>
      <%= link_to notes_path(notable_type: params[:notable_type] == 'Interview' ? nil : 'Interview'), class: 'inline-block', style: "view-transition-name: interview-notes" do %>
        <span class="tag tag-filter <%= 'tag-selected' if params[:notable_type] == 'Interview' %>">
          <span>Interviews</span>
          <%= inline_svg_tag 'icons/x-mini.svg' if params[:notable_type] == 'Interview' %>
        </span>
      <% end %>
    </div>
  </div>

  <div id="notes" class="@container">
    <% if @notes.any? %>
      <div class="grid grid-cols-1 <%= '@xl:grid-cols-2' if @notes.size >= 2 %> <%= '@3xl:grid-cols-3' if @notes.size >= 3 && @notes.size != 4 %> gap-3">
        <% @notes.each do |note| %>
          <%= render note %>
        <% end %>
      </div>
    <% else %>
      <div class="empty-state">
        No notes found.
      </div>
    <% end %>
  </div>
</div>
