<div id="search-filters">
  <div class="mb-4">
    <p class="ml-1 text-sm text-muted mb-1 [view-transition-name:search-filters-label]">
      Filter search results by type:
    </p>
    <div class="flex flex-wrap items-center gap-1">
      <% ['all', 'job_leads', 'interviews', 'notes'].each do |filter| %>
        <div class="form-radio-tag">
          <%= radio_button_tag :filter, filter, checked: (@selected_filter == filter), data: { action: 'change->auto-submit#submit' }, class: 'peer' %>
          <%= label_tag "filter_#{filter}", filter.titlecase %>
        </div>
      <% end %>
    </div>
  </div>

  <% if @selected_filter == 'job_leads' %>
    <div class="mb-4">
      <p class="ml-1 text-sm text-muted mb-1 [view-transition-name:status-filters-label]">
        Filter job leads by status:
      </p>
      <div class="flex flex-wrap items-center gap-1">
        <%= link_to 'Clear', search_path(q: @query, filter: @selected_filter), class: 'btn btn-sm btn-destructive btn-muted' if @selected_status.present? %>

        <% @all_status_names.each do |status| %>
          <div class="form-radio-tag" style="view-transition-name: job-leads-filter-<%= status %>">
            <%= radio_button_tag :status, status, checked: (@selected_status == status), data: { action: 'change->auto-submit#submit' }, class: 'peer' %>
            <%= label_tag "status_#{status}", status.titlecase %>
          </div>
        <% end %>
      </div>
    </div>
  <% elsif @selected_filter == 'interviews' %>
    <div class="mb-4">
      <p class="ml-1 text-sm text-muted mb-1 [view-transition-name:status-filters-label]">
        Filter interviews by date:
      </p>
      <div class="flex flex-wrap items-center gap-1">
        <% if @selected_date_range.present? %>
          <%= link_to 'Clear', search_path(q: @query, filter: @selected_filter), class: 'btn btn-sm btn-destructive btn-muted' %>

          <div class="form-radio-tag" style="view-transition-name: interviews-filter-<%= @selected_date_range %>">
            <%= radio_button_tag :date_range, @selected_date_range, checked: true, data: { action: 'change->auto-submit#submit' }, class: 'peer' %>
            <%= label_tag "date_range_#{@selected_date_range}", @selected_date_range.titlecase %>
          </div>
        <% end %>

        <% @unselected_date_ranges.each do |date_range| %>
          <div class="form-radio-tag" style="view-transition-name: interviews-filter-<%= date_range %>">
            <%= radio_button_tag :date_range, date_range, checked: (@selected_date_range == date_range), data: { action: 'change->auto-submit#submit' }, class: 'peer' %>
            <%= label_tag "date_range_#{date_range}", date_range.titlecase %>
          </div>
        <% end %>
      </div>
    </div>
  <% elsif @selected_filter == 'notes' %>
    <div class="mb-4">
      <p class="ml-1 text-sm text-muted mb-1 [view-transition-name:status-filters-label]">
        Show notes for:
      </p>
      <div class="flex flex-wrap items-center gap-1">
        <% if @selected_notable_type.present? %>
          <%= link_to 'Clear', search_path(q: @query, filter: @selected_filter), class: 'btn btn-sm btn-destructive btn-muted' %>

          <div class="form-radio-tag" style="view-transition-name: notes-filter-<%= @selected_notable_type %>">
            <%= radio_button_tag :notable_type, @selected_notable_type, checked: true, data: { action: 'change->auto-submit#submit' }, class: 'peer' %>
            <%= label_tag "notable_type_#{@selected_notable_type}", @selected_notable_type.titlecase %>
          </div>
        <% end %>

        <% @unselected_notable_types.each do |notable_type| %>
          <div class="form-radio-tag" style="view-transition-name: notes-filter-<%= notable_type %>">
            <%= radio_button_tag :notable_type, notable_type, checked: (@selected_notable_type == notable_type), data: { action: 'change->auto-submit#submit' }, class: 'peer' %>
            <%= label_tag "notable_type_#{notable_type}", notable_type.titlecase %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>