<% interview_page = current_page?(interview_path(interview)) %>
<% job_lead = interview.job_lead %>

<div id="<%= dom_id interview %>" class="relative card w-full sm:w-auto flex flex-col <%= 'card-hover' unless interview_page %>" style="view-transition-name: interview-<%= interview.id %>;">
  <div class="flex flex-wrap items-start gap-x-4 gap-y-2 w-full mb-2">
    <div class="mb-2">
      <div class="<%= interview_page ? 'subheading' : 'text-lg font-semibold' %>">
        <span>Interview with <%= interview.interviewer %></span>
        <% if interview.scheduled_at.past? %>
          <span class="align-middle whitespace-nowrap font-normal ml-0.5 tag tag-accepted">
            Completed
          </span>
        <% else %>
          <span class="align-middle whitespace-nowrap font-normal ml-0.5 tag tag-interview">
            Scheduled: <span class="text-xs opacity-65"><%= local_date_short interview.scheduled_at %></span>
          </span>
        <% end %>
      </div>
      <% unless current_page?(job_lead_path(job_lead)) %>
        <p class="text-xs text-muted mt-1">for <%= job_lead.title %> @ <%= job_lead.company %></p>
      <% end %>
    </div>
    <% if interview_page %>
      <div class="ml-auto relative" data-controller="dropdown" data-dropdown-hide-dropdown-class="dropdown-hidden" data-dropdown-show-dropdown-class="dropdown-show">
        <button class="dropdown-trigger" type="button" data-action="mousedown->dropdown#toggle keydown->dropdown#handleKeydown">
          <span class="sr-only">Actions for this interview</span>
          <%= inline_svg_tag 'icons/more-horizontal.svg', class: 'size-5.5' %>
        </button>

        <div class="dropdown-menu dropdown-menu-bottom-left dropdown-hidden" data-dropdown-target="menu">
          <%= link_to edit_interview_path(interview), class: 'dropdown-option dropdown-option-secondary' do %>
            <%= inline_svg_tag 'icons/edit.svg', class: 'size-5 shrink-0' %>
            <span>Edit</span>
          <% end %>

          <div class="dropdown-divider"></div>

          <%= button_to interview, method: :delete, class: 'dropdown-option dropdown-option-destructive', data: { turbo_confirm: 'Are you sure you want to delete this interview?' } do %>
            <%= inline_svg_tag 'icons/trash.svg', class: 'size-5 shrink-0' %>
            <span>Delete</span>
          <% end %>
        </div>
      </div>
    <% else %>
      <%= link_to interview_path(interview), data: { turbo_frame: '_top' }, class: 'absolute inset-0 z-10' do %>
        <span class="sr-only">View</span>
      <% end %>
    <% end %>
  </div>

  <div class="flex items-center gap-x-6 gap-y-2 mb-4">
    <div class="flex items-center gap-1 text-sm text-soft">
      <%= inline_svg_tag 'icons/calendar.svg', class: 'size-3.75 shrink-0' %>
      <%= interview.scheduled_at ? local_time(interview.scheduled_at) : "Not scheduled" %>
    </div>
    <% if interview.location.present? %>
      <div class="flex items-center gap-1 text-sm text-soft">
        <%= inline_svg_tag 'icons/location.svg', class: 'size-3.75 shrink-0' %>
        <%= interview.location %>
      </div>
    <% end %>
  </div>

  <% if interview_page %>
    <% if interview.call_url.present? %>
      <div class="flex items-center gap-1 text-sm text-soft mb-4">
        <%= link_to interview.call_url, target: '_blank', rel: 'noopener', class: 'btn-link-primary inline-flex gap-1 relative z-20' do %>
          <%= inline_svg_tag 'icons/link.svg', class: 'size-4 shrink-0 mt-0.5' %>
          <span><%= interview.call_url %></span>
        <% end %>
      </div>
    <% end %>

    <div class="mb-4">
      <dt class="text-muted text-sm flex items-center gap-1">Rating</dt>
      <dd class="text-xl text-normal font-bold flex items-center gap-x-1">
        <% if interview.rating? %>
          <% 1.upto(5) do |star| %>
            <%= inline_svg_tag 'icons/star.svg', class: "size-6 transition-all duration-200 #{interview.rating >= star ? 'text-yellow-400 fill-yellow-400' : 'fill-transparent text-muted'}" %>
          <% end %>
        <% else %>
          <span class="text-sm text-muted">No rating</span>
        <% end %>
      </dd>
    </div>
  <% end %>

  <div class="flex flex-wrap items-end justify-between gap-1 text-xs text-muted mt-auto">
    <% if interview.notes.any? && !interview_page %>
      <span class="inline-flex items-center gap-1">
        <%= inline_svg_tag 'icons/note.svg', class: 'size-3.5 shrink-0' %>
        <%= pluralize(interview.notes.size, 'note') %>
      </span>
    <% end %>
    <span class="inline-flex items-center gap-1">
      <%= inline_svg_tag 'icons/clock.svg', class: 'size-3.5 shrink-0' %>
      Updated: <%= local_time interview.updated_at %>
    </span>
  </div>
</div>
