<% content_for :title, 'Interviews' %>

<div class="sm:w-7/8 w-full mx-auto">
  <div class="mb-4 flex flex-wrap gap-2 items-center justify-between">
    <%= link_to root_path, class: 'btn btn-sm btn-secondary btn-muted gap-1.5' do %>
      <%= inline_svg_tag 'icons/arrow-left.svg', class: 'size-3.5 shrink-0' %>
      <span>Back Home</span>
    <% end %>
  </div>

  <div class="mb-4">
    <h1 class="heading">
      Interviews
    </h1>
    <span class="ml-1 text-sm text-muted font-normal align-middle [view-transition-name:interview-count]">
      <%= pluralize(@interviews.size, "#{params[:scheduled].presence || 'total'} interview") %>
    </span>
  </div>

  <div class="mb-4">
    <p class="ml-1 text-sm text-muted mb-1 [view-transition-name:interview-filters-label]">
      Filter interviews by date:
    </p>
    <div class="flex flex-wrap items-center gap-1">
      <%= link_to interviews_path(scheduled: nil), class: 'inline-block', style: "view-transition-name: all-interviews" do %>
        <span class="tag tag-filter <%= 'tag-selected' unless params[:scheduled].present? %>">All</span>
      <% end %>

      <%= link_to interviews_path(scheduled: 'upcoming'), class: 'inline-block', style: "view-transition-name: upcoming-interviews" do %>
        <span class="tag tag-filter <%= 'tag-selected' if params[:scheduled] == 'upcoming' %>">
          <span>Upcoming</span>
          <%= inline_svg_tag 'icons/x-mini.svg' if params[:scheduled] == 'upcoming' %>
        </span>
      <% end %>
      <%= link_to interviews_path(scheduled: 'completed'), class: 'inline-block', style: "view-transition-name: completed-interviews" do %>
        <span class="tag tag-filter <%= 'tag-selected' if params[:scheduled] == 'completed' %>">
          <span>Completed</span>
          <%= inline_svg_tag 'icons/x-mini.svg' if params[:scheduled] == 'completed' %>
        </span>
      <% end %>
    </div>
  </div>

  <div id="interviews" class="@container">
    <% if @interviews.any? %>
      <div class="grid grid-cols-1 <%= ' @4xl:grid-cols-2' if @interviews.size >= 2 %> gap-5">
        <% @interviews.each do |interview| %>
          <%= render interview %>
        <% end %>
      </div>
    <% else %>
      <div class="empty-state">
        No interviews found.
      </div>
    <% end %>
  </div>
</div>
