<div class="mt-24">
  <div class="max-w-lg mx-auto md:w-2/3 w-full">
    <div class="card">
      <h1 class="subheading">Sign up</h1>
      <p class="text-soft">
        Sign up to create your account and level up your job search.
      </p>

      <%= form_with url: registrations_url, model: @user, method: :post, class: "contents" do |form| %>
        <div class="my-5">
          <%= form.label :email_address, class: 'form-label' %>
          <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: 'email', placeholder: 'Enter your email address', value: params[:email_address], class: 'form-input' %>
        </div>

        <div class="my-5">
          <%= form.label :password, class: 'form-label' %>
          <%= form.password_field :password, required: true, autocomplete: 'current-password', placeholder: 'Enter your password', maxlength: 72, class: 'form-input' %>
        </div>

        <div class="my-5">
          <%= form.label :password_confirmation, 'Confirm your password', class: 'form-label' %>
          <%= form.password_field :password_confirmation, required: true, autocomplete: 'current-password', placeholder: 'Repeat your password', maxlength: 72, class: 'form-input' %>
        </div>

        <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
          <div class="flex w-full items-center justify-between gap-2">
            <%= form.submit 'Sign Up', class: 'grow btn btn-primary' %>
          </div>
        </div>
      <% end %>

      <div class="flex flex-col items-center gap-2 mt-4">
        <%= link_to 'Already have an account? Sign in', new_session_path, class: 'btn-link btn-muted' %>
      </div>
    </div>
  </div>
</div>
