<div>
  <%= form.label field, label, class: "form-label" %>
  <div class="mt-2 flex gap-2">
    <% options.each do |option| %>
      <% text, value, option_icon = option.values_at :text, :value, :icon %>
      <label class="group relative cursor-pointer">
        <%= form.radio_button field, value, checked: settings_value == value, class: 'sr-only peer' %>
        <div class="flex items-center justify-center gap-1 pl-2 pr-2.5 py-1.5 rounded-lg text-sm text-light border border-neutral-300 dark:border-neutral-800 bg-white dark:bg-neutral-900 peer-checked:border-primary-200 peer-checked:dark:border-primary-900 peer-checked:bg-primary-100/80 peer-checked:dark:bg-primary-950/80 peer-checked:text-primary-600 transition-all duration-80 active:scale-97">
          <%= icon option_icon, class: 'size-5 shrink-0' %>
          <span><%= text %></span>
        </div>
      </label>
    <% end %>
  </div>
  <% if (help_text = local_assigns[:help_text]) %>
    <p class="text-muted text-xs mt-1"><%= raw help_text %></p>
  <% end %>
</div>

