<% if @selected_tags.any? || @selected_status.present? || (@selected_job_lead_type.present? && @selected_job_lead_type != "all") %>
  <%= link_to "Clear Filters", job_leads_path(job_lead_type: "all"), class: "btn btn-sm btn-destructive btn-muted" %>
<% end %>

<div id="job-lead-filters" class="my-4 space-y-1">
  <div class="flex flex-wrap items-center gap-1">
    <% [
      { type: "all", icon: "layers" },
      { type: "active", icon: "check-circle" },
      { type: "archived", icon: "archive" }
    ].each do |filter| %>
      <% type = filter[:type] %>
      <% selected = @selected_job_lead_type == type %>

      <%= filter_link(
        path: job_leads_path(params.permit(:tags, :status).merge(job_lead_type: selected ? "all" : type)),
        value: type,
        icon_name: filter[:icon],
        selected:,
        context: "job-leads-filter"
      ) %>
    <% end %>
  </div>

  <div class="flex flex-wrap items-center gap-1">
    <% @all_status_names.each do |status| %>
      <% selected = @selected_status == status %>

      <%= filter_link(
        path: job_leads_path(params.permit(:tags, :job_lead_type).merge(status: selected ? nil : status)),
        value: status,
        icon_name: icon_name_for_status(status),
        selected:,
        context: "job-leads-status-filter"
      ) %>
    <% end %>
  </div>

  <div class="flex flex-wrap items-center gap-1">
    <% @selected_tags.each do |tag| %>
      <% remaining_tags = @selected_tag_names - [tag.name] %>

      <%= filter_link(
        path: job_leads_path(params.permit(:job_lead_type, :status).merge(tags: remaining_tags.join(','))),
        value: tag.name,
        label: tag.name,
        icon_name: "tag",
        selected: true,
        context: "job-leads-tag-filter"
      ) %>
    <% end %>

    <% @unselected_tags.each do |tag| %>
      <% new_tags = (@selected_tag_names + [tag.name]).uniq %>

      <%= filter_link(
        path: job_leads_path(params.permit(:job_lead_type, :status).merge(tags: new_tags.join(','))),
        value: tag.name,
        label: tag.name,
        icon_name: "tag",
        selected: false,
        context: "job-leads-tag-filter"
      ) %>
    <% end %>
  </div>
</div>
