<% if @selected_tags.any? || @selected_status.present? %>
  <div class="mb-4">
    <%= link_to 'Clear Filters', job_leads_path, class: 'btn btn-sm btn-destructive btn-muted' %>
  </div>
<% end %>

<div class="mb-4">
  <p class="ml-1 text-sm text-muted mb-1 [view-transition-name:job-lead-type-filters-label]">
    Filter job leads by type:
  </p>
  <div class="flex flex-wrap items-center gap-1">
    <%= link_to job_leads_path(params.permit(:tags, :status).merge(job_lead_type: nil)), class: 'inline-block', style: "view-transition-name: all-job-leads" do %>
      <span class="tag tag-filter <%= 'tag-selected' unless params[:job_lead_type].present? %>">All</span>
    <% end %>

    <%= link_to job_leads_path(params.permit(:tags, :status).merge(job_lead_type: params[:job_lead_type] == 'active' ? nil : 'active')), class: 'inline-block', style: "view-transition-name: active-job-leads" do %>
      <span class="tag tag-filter <%= 'tag-selected' if params[:job_lead_type] == 'active' %>">
        <span>Active</span>
        <%= inline_svg_tag 'icons/x-mini.svg' if params[:job_lead_type] == 'active' %>
      </span>
    <% end %>
    <%= link_to job_leads_path(params.permit(:tags, :status).merge(job_lead_type: params[:job_lead_type] == 'archived' ? nil : 'archived')), class: 'inline-block', style: "view-transition-name: archived-job-leads" do %>
      <span class="tag tag-filter <%= 'tag-selected' if params[:job_lead_type] == 'archived' %>">
        <span>Archived</span>
        <%= inline_svg_tag 'icons/x-mini.svg' if params[:job_lead_type] == 'archived' %>
      </span>
    <% end %>
  </div>
</div>

<div class="mb-4">
  <p class="ml-1 text-sm text-muted mb-1 [view-transition-name:status-filters-label]">
    Filter job leads by status:
  </p>
  <div class="flex flex-wrap items-center gap-1">
    <% @all_status_names.each do |status| %>
      <%= link_to job_leads_path(params.permit(:tags, :status).merge(status: status == @selected_status ? nil : status)), class: 'inline-block', style: "view-transition-name: status-#{status}" do %>
        <span class="tag tag-filter <%= 'tag-selected' if status == @selected_status %> tag-<%= status %>">
          <%= status.titlecase %>
          <%= inline_svg_tag 'icons/x-mini.svg' if status == @selected_status %>
        </span>
      <% end %>
    <% end %>
  </div>
</div>

<div class="mb-4">
  <p class="ml-1 text-sm text-muted mb-1 [view-transition-name:tags-filter-label]">
    Filter job leads by tags:
  </p>
  <div class="flex flex-wrap items-center gap-1">
    <% @selected_tags.each do |tag| %>
      <% remaining_tags = @selected_tag_names - [tag.name] %>
      <%= link_to job_leads_path(params.permit(:tags, :status).merge(tags: remaining_tags.join(','))), class: 'inline-block', style: "view-transition-name: tag-#{tag.name.parameterize}" do %>
        <span class="tag tag-filter tag-selected">
          <%= tag.name %>
          <%= inline_svg_tag 'icons/x-mini.svg' %>
        </span>
      <% end %>
    <% end %>

    <% @unselected_tags.each do |tag| %>
      <% new_tags = (@selected_tag_names + [tag.name]).uniq %>
      <%= link_to job_leads_path(params.permit(:tags, :status).merge(tags: new_tags.join(','))), class: 'inline-block', style: "view-transition-name: tag-#{tag.name.parameterize}" do %>
        <span class="tag tag-filter"><%= tag.name %></span>
      <% end %>
    <% end %>
  </div>
</div>
