<% job_lead_preview = current_page?(job_lead_path(job_lead)) %>

<div id="<%= dom_id job_lead %>" class="relative card w-full sm:w-auto flex flex-col <%= 'group hover:bg-neutral-100/80 hover:shadow-sm transition-all duration-150' unless job_lead_preview %>" style="view-transition-name: job_lead-<%= job_lead.id %>;">
  <div class="flex items-start gap-x-4 gap-y-1 w-full mb-2 max-lg:mb-6 <%= 'flex-wrap' if job_lead_preview %>">
    <div class="subheading mb-2">
      <span><%= job_lead.title %></span>

      <%
        status_colors = {
          'lead' => 'bg-neutral-200/60 text-neutral-500',
          'applied' => 'bg-blue-200/60 text-blue-600',
          'phone_screen' => 'bg-amber-200/60 text-amber-600',
          'interview' => 'bg-purple-200/60 text-purple-600',
          'offer' => 'bg-green-200/60 text-green-600',
          'rejected' => 'bg-red-200/60 text-red-600',
          'accepted' => 'bg-emerald-200/60 text-emerald-600'
        }
      %>
      <span class="align-middle whitespace-nowrap px-2.5 py-1 ml-1 rounded-full text-xs font-normal <%= status_colors[job_lead.status] %>">
        <%= job_lead.status.humanize %>
      </span>
    </div>
    <% if job_lead_preview %>
      <div class="grow flex gap-2 justify-end">
        <%= link_to edit_job_lead_path(job_lead), class: 'max-sm:grow btn btn-sm btn-primary btn-muted gap-2' do %>
          <%= inline_svg_tag 'icons/edit.svg', class: 'size-4 shrink-0' %>
          <span>Edit</span>
        <% end %>

        <%= button_to job_lead, method: :delete, form_class: 'max-sm:grow', class: 'max-sm:w-full btn btn-sm btn-destructive btn-muted gap-2', data: { turbo_confirm: 'Are you sure you want to delete this job lead?' } do %>
          <%= inline_svg_tag 'icons/trash.svg', class: 'size-4 shrink-0' %>
          <span>Delete</span>
        <% end %>

        <% if job_lead.archived_at? %>
          <%= button_to unarchive_job_lead_path(job_lead), method: :patch, form_class: 'max-sm:grow', class: 'max-sm:w-full btn btn-sm btn-secondary btn-muted gap-2' do %>
            <%= inline_svg_tag 'icons/unarchive.svg', class: 'size-4 shrink-0' %>
            <span>Unarchive</span>
          <% end %>
        <% else %>
          <%= button_to archive_job_lead_path(job_lead), method: :patch, form_class: 'max-sm:grow', class: 'max-sm:w-full btn btn-sm btn-secondary btn-muted gap-2' do %>
            <%= inline_svg_tag 'icons/archive.svg', class: 'size-4 shrink-0' %>
            <span>Archive</span>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <%= link_to job_lead_path(job_lead), class: 'absolute inset-0 z-10' do %>
        <span class="sr-only">View</span>
      <% end %>
    <% end %>
  </div>

  <div class="space-y-2 mb-6">
    <div class="flex items-center gap-1 text-sm text-soft">
      <%= inline_svg_tag 'icons/company.svg', class: 'size-3.75 shrink-0' %>
      <%= job_lead.company %>
    </div>

    <% if job_lead.application_url.present? %>
      <div class="flex items-center gap-1 text-sm text-soft">
        <%= link_to job_lead.application_url, target: '_blank', rel: 'noopener', class: 'btn-link-primary inline-flex gap-1 relative z-20' do %>
          <%= inline_svg_tag 'icons/link.svg', class: 'size-4 shrink-0 mt-0.5' %>
          <span class="<%= 'w-min' unless job_lead_preview %>"><%= job_lead.application_url %></span>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="flex flex-wrap items-start gap-x-18 gap-y-4 mb-3">
    <% if job_lead.offer_amount? || job_lead.salary? %>
      <div class="flex flex-wrap items-start gap-x-18 gap-y-4">
        <% if job_lead.offer_amount? %>
          <div>
            <div class="text-muted text-sm flex items-center gap-1">
              <%= inline_svg_tag 'icons/offer.svg', class: 'size-3.75 shrink-0' %>
              <dt>Offer Amount</dt>
            </div>
            <dd class="text-xl text-normal font-bold"><%= number_to_currency(job_lead.offer_amount, precision: 2) %></dd>
          </div>
        <% end %>

        <% if job_lead.salary? %>
          <div>
            <div class="text-muted text-sm flex items-center gap-1">
              <%= inline_svg_tag 'icons/money.svg', class: 'size-3.75 shrink-0' %>
              <dt><%= 'Posted' if job_lead.offer_amount? %> Salary</dt>
            </div>
            <dd class="text-xl text-normal font-bold"><%= job_lead.salary %></dd>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="flex flex-wrap items-start gap-x-18 gap-y-4">
      <% if job_lead.contact.present? %>
        <div>
          <div class="text-muted text-sm flex items-center gap-1">
            <%= inline_svg_tag 'icons/contact.svg', class: 'size-3.75 shrink-0' %>
            <dt>Contact</dt>
          </div>
          <dd><%= job_lead.contact %></dd>
        </div>
      <% end %>

      <% if job_lead.location.present? %>
        <div>
          <div class="text-muted text-sm flex items-center gap-1">
            <%= inline_svg_tag 'icons/location.svg', class: 'size-3.75 shrink-0' %>
            <dt>Location</dt>
          </div>
          <dd><%= job_lead.location %></dd>
        </div>
      <% end %>

      <% if job_lead.source.present? %>
        <div>
          <div class="text-muted text-sm flex items-center gap-1">
            <%= inline_svg_tag 'icons/globe.svg', class: 'size-3.75 shrink-0' %>
            <dt>Source</dt>
          </div>
          <dd><%= job_lead.source %></dd>
        </div>
      <% end %>
    </div>
  </div>

  <div class="flex items-end justify-between text-xs text-muted mt-auto">
    <% if job_lead.notes.any? && !job_lead_preview %>
      <span class="inline-flex items-center gap-1">
        <%= inline_svg_tag 'icons/note.svg', class: 'size-3.5 shrink-0' %>
        <%= pluralize(job_lead.notes.count, 'note') %>
      </span>
    <% end %>
    <% if job_lead.archived_at.present? %>
      <span class="ml-auto inline-flex items-center gap-1">
        <%= inline_svg_tag 'icons/archive.svg', class: 'size-3.5 shrink-0' %>
        Archived: <%= local_time job_lead.archived_at %>
      </span>
    <% else %>
      <span class="ml-auto inline-flex items-center gap-1">
        <%= inline_svg_tag 'icons/clock.svg', class: 'size-3.5 shrink-0' %>
        Updated: <%= local_time job_lead.updated_at %>
      </span>
    <% end %>
  </div>
</div>
