<% job_lead_page = current_page?(job_lead_path(job_lead)) %>

<div id="<%= dom_id job_lead %>" class="relative card w-full sm:w-auto flex flex-col <%= 'card-hover' unless job_lead_page %>" style="view-transition-name: job_lead-<%= job_lead.id %>;">
  <div class="flex gap-x-4 gap-y-2 w-full mb-2">
    <div class="<%= job_lead_page ? 'subheading' : 'text-lg font-semibold' %>">
      <span><%= job_lead.title %></span>
      <% unless job_lead_page %>
        <span class="font-normal ml-0.5 tag tag-<%= job_lead.status %>">
          <%= job_lead.status.titlecase %>: <span class="text-xs opacity-65"><%= local_date_short job_lead.latest_status_at %></span>
        </span>
      <% end %>
    </div>
    <% if job_lead_page %>
      <div class="ml-auto relative" data-controller="dropdown" data-dropdown-hide-dropdown-class="dropdown-hidden" data-dropdown-show-dropdown-class="dropdown-show">
        <button class="dropdown-trigger" type="button" data-action="mousedown->dropdown#toggle keydown->dropdown#handleKeydown">
          <span class="sr-only">Actions for this job lead</span>
          <%= inline_svg_tag 'icons/more-horizontal.svg', class: 'size-5.5' %>
        </button>

        <div class="dropdown-menu dropdown-menu-bottom-left dropdown-hidden" data-dropdown-target="menu">
          <%= link_to edit_job_lead_path(job_lead), class: 'dropdown-option dropdown-option-secondary' do %>
            <%= inline_svg_tag 'icons/edit.svg', class: 'size-5 shrink-0' %>
            <span>Edit</span>
          <% end %>

          <% if job_lead.archived_at? %>
            <%= button_to unarchive_job_lead_path(job_lead), method: :patch, class: 'dropdown-option dropdown-option-secondary' do %>
              <%= inline_svg_tag 'icons/unarchive.svg', class: 'size-5 shrink-0' %>
              <span>Unarchive</span>
            <% end %>
          <% else %>
            <%= button_to archive_job_lead_path(job_lead), method: :patch, class: 'dropdown-option dropdown-option-secondary' do %>
              <%= inline_svg_tag 'icons/archive.svg', class: 'size-5 shrink-0' %>
              <span>Archive</span>
            <% end %>
          <% end %>

          <% unless job_lead.accepted? || job_lead.lead? %>
            <%= button_to reject_job_lead_path(job_lead), method: :patch, class: 'dropdown-option dropdown-option-destructive', data: { turbo_confirm: 'Are you sure you want to mark this job lead as rejected?' } do %>
              <%= inline_svg_tag 'icons/x.svg', class: 'size-5 shrink-0' %>
              <span>Rejected</span>
            <% end %>
          <% end %>

          <div class="dropdown-divider"></div>

          <%= button_to job_lead, method: :delete, class: 'dropdown-option dropdown-option-destructive', data: { turbo_confirm: 'Are you sure you want to delete this job lead?' } do %>
            <%= inline_svg_tag 'icons/trash.svg', class: 'size-5 shrink-0' %>
            <span>Delete</span>
          <% end %>
        </div>
      </div>
    <% else %>
      <%= link_to job_lead, data: { turbo_frame: '_top' }, class: 'absolute inset-0 z-10' do %>
        <span class="sr-only">View</span>
      <% end %>
    <% end %>
  </div>

  <div class="flex items-end flex-wrap gap-x-6 gap-y-2 mb-4">
    <div class="flex items-center gap-1 text-sm text-light">
      <%= inline_svg_tag 'icons/company.svg', class: 'size-3.75 shrink-0' %>
      <%= job_lead.company %>
    </div>

    <% if job_lead.application_url.present? && job_lead_page %>
      <%= link_to job_lead.application_url, target: '_blank', rel: 'noopener', class: 'btn-link-primary text-sm inline-block align-middle relative z-20 max-w-fit' do %>
        <%= inline_svg_tag 'icons/link.svg', class: 'size-4 shrink-0 inline' %>
        <span class="wrap-anywhere"><%= line_wrap_url job_lead.application_url %></span>
      <% end %>
    <% end %>
  </div>

  <% if job_lead_page && (job_lead.offer_amount? || job_lead.salary? || job_lead.contact? || job_lead.location? || job_lead.source?) %>
    <div class="flex flex-wrap items-start gap-x-14 gap-y-4 mb-4 py-4 border-y border-neutral-200 dark:border-neutral-800">
      <% if job_lead.offer_amount? || job_lead.salary? %>
        <div class="flex flex-wrap items-start gap-x-14 gap-y-4">
          <% if job_lead.offer_amount? %>
            <div>
              <div class="text-muted text-sm flex items-center gap-1">
                <%= inline_svg_tag 'icons/offer.svg', class: 'size-3.75 shrink-0' %>
                <dt>Offer Amount</dt>
              </div>
              <dd class="text-xl text-normal font-bold"><%= number_to_currency(job_lead.offer_amount, precision: 2) %></dd>
            </div>
          <% end %>

          <% if job_lead.salary? %>
            <div>
              <div class="text-muted text-sm flex items-center gap-1">
                <%= inline_svg_tag 'icons/money.svg', class: 'size-3.75 shrink-0' %>
                <dt><%= 'Posted' if job_lead.offer_amount? %> Salary</dt>
              </div>
              <dd class="text-xl text-normal font-bold"><%= job_lead.salary %></dd>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="flex flex-wrap items-start gap-x-14 gap-y-4">
        <% if job_lead.contact? %>
          <div>
            <div class="text-muted text-sm flex items-center gap-1">
              <%= inline_svg_tag 'icons/contact.svg', class: 'size-3.75 shrink-0' %>
              <dt>Contact</dt>
            </div>
            <dd><%= job_lead.contact %></dd>
          </div>
        <% end %>

        <% if job_lead.location? %>
          <div>
            <div class="text-muted text-sm flex items-center gap-1">
              <%= inline_svg_tag 'icons/location.svg', class: 'size-3.75 shrink-0' %>
              <dt>Location</dt>
            </div>
            <dd><%= job_lead.location %></dd>
          </div>
        <% end %>

        <% if job_lead.source? %>
          <div>
            <div class="text-muted text-sm flex items-center gap-1">
              <%= inline_svg_tag 'icons/globe.svg', class: 'size-3.75 shrink-0' %>
              <dt>Source</dt>
            </div>
            <dd><%= job_lead.source %></dd>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if job_lead.tags.any? %>
    <div class="flex flex-wrap items-center gap-1 mb-4">
      <% job_lead.tags.order(:name).each do |tag| %>
        <span class="tag"><%= tag.name %></span>
      <% end %>
    </div>
  <% end %>

  <% if job_lead_page %>
    <div class="mb-4">
      <div class="text-muted text-sm flex items-center gap-1 mb-1">
        <%= inline_svg_tag 'icons/calendar.svg', class: 'size-3.75 shrink-0' %>
        <dt>History</dt>
      </div>

      <div class="flex flex-wrap items-center gap-1.5 mt-auto">
        <span class="tag tag-lead">
          Lead: <span class="text-xs opacity-65"><%= local_date_short job_lead.created_at %></span>
        </span>

        <%
          status_history = []
          status_history << { status: 'applied', timestamp: job_lead.applied_at }
          job_lead.interviews.order(:scheduled_at).each do |interview|
            status_history << { status: 'interview', timestamp: interview.scheduled_at }
          end
          status_history << { status: 'offer', timestamp: job_lead.offer_at }
          status_history << { status: 'accepted', timestamp: job_lead.accepted_at }
          status_history << { status: 'rejected', timestamp: job_lead.rejected_at }

          status_history.compact!
          status_history.select! { it[:timestamp].present? }
        %>

        <% status_history.each do |status_entry| %>
          <div class="flex items-center gap-1.5">
            <%= inline_svg_tag 'icons/arrow-right.svg', class: 'size-3.5 shrink-0 text-light' %>
            <span class="tag tag-<%= status_entry[:status] %>">
              <%= status_entry[:status].titlecase %>: <span class="text-xs opacity-65"><%= local_date_short status_entry[:timestamp] %></span>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="flex flex-wrap items-end justify-between gap-1 text-xs text-muted mt-auto">
    <% if job_lead.notes.any? && !job_lead_page %>
      <span class="inline-flex items-center gap-1">
        <%= inline_svg_tag 'icons/note.svg', class: 'size-3.5 shrink-0' %>
        <%= pluralize(job_lead.notes.size, 'note') %>
      </span>
    <% end %>
    <% if job_lead.archived_at.present? %>
      <span class="inline-flex items-center gap-1">
        <%= inline_svg_tag 'icons/archive.svg', class: 'size-3.5 shrink-0' %>
        Archived: <%= local_time job_lead.archived_at %>
      </span>
    <% else %>
      <span class="inline-flex items-center gap-1">
        <%= inline_svg_tag 'icons/clock.svg', class: 'size-3.5 shrink-0' %>
        Updated: <%= local_time job_lead.updated_at %>
      </span>
    <% end %>
  </div>
</div>
