<%
  content_for :title,
    [
      "#{params[:job_lead_type].presence&.titlecase} ",
      'Job Leads',
      (@selected_status.presence&.titlecase&.prepend(' - ')),
      (@selected_tag_names.any? ? " - #{@selected_tag_names.join(', ')}" : nil)
    ].compact.join
%>

<div class="sm:w-7/8 w-full mx-auto">
  <div class="mb-4 flex flex-wrap gap-2 items-center justify-between">
    <%= link_to root_path, class: 'btn btn-sm btn-secondary btn-muted gap-1.5' do %>
      <%= inline_svg_tag 'icons/arrow-left.svg', class: 'size-3.5 shrink-0' %>
      <span>Back Home</span>
    <% end %>
  </div>

  <div class="flex flex-wrap justify-between items-end gap-2 mb-4">
    <div>
      <h1 class="heading">
        Job Leads
      </h1>
      <span class="ml-1 text-sm text-muted font-normal align-middle [view-transition-name:job-lead-count]">
        <%= pluralize(@job_leads.size, "#{params[:job_lead_type].presence || 'total'} job lead") %>
      </span>
    </div>

    <%= link_to 'New Job Lead', new_job_lead_path, class: 'btn btn-primary' %>
  </div>

  <% if @selected_tags.any? || @selected_status.present? %>
    <div class="mb-4">
      <%= link_to 'Clear Filters', job_leads_path, class: 'btn btn-sm btn-destructive btn-muted' %>
    </div>
  <% end %>

  <div class="mb-4">
    <p class="ml-1 text-sm text-muted mb-1 [view-transition-name:job-lead-type-filters-label]">
      Filter job leads by type:
    </p>
    <div class="flex flex-wrap items-center gap-1">
      <%= link_to job_leads_path(params.permit(:tags, :status).merge(job_lead_type: nil)), class: 'inline-block', style: "view-transition-name: all-job-leads" do %>
        <span class="tag tag-filter <%= 'tag-selected' unless params[:job_lead_type].present? %>">All</span>
      <% end %>

      <%= link_to job_leads_path(params.permit(:tags, :status).merge(job_lead_type: params[:job_lead_type] == 'active' ? nil : 'active')), class: 'inline-block', style: "view-transition-name: active-job-leads" do %>
        <span class="tag tag-filter <%= 'tag-selected' if params[:job_lead_type] == 'active' %>">
          <span>Active</span>
          <%= inline_svg_tag 'icons/x-mini.svg' if params[:job_lead_type] == 'active' %>
        </span>
      <% end %>
      <%= link_to job_leads_path(params.permit(:tags, :status).merge(job_lead_type: params[:job_lead_type] == 'archived' ? nil : 'archived')), class: 'inline-block', style: "view-transition-name: archived-job-leads" do %>
        <span class="tag tag-filter <%= 'tag-selected' if params[:job_lead_type] == 'archived' %>">
          <span>Archived</span>
          <%= inline_svg_tag 'icons/x-mini.svg' if params[:job_lead_type] == 'archived' %>
        </span>
      <% end %>
    </div>
  </div>

  <div class="mb-4">
    <p class="ml-1 text-sm text-muted mb-1 [view-transition-name:status-filters-label]">
      Filter job leads by status:
    </p>
    <div class="flex flex-wrap items-center gap-1">
      <% if @selected_status.present? %>
        <%= link_to job_leads_path(params.permit(:tags, :status).merge(status: nil)), class: 'inline-block', style: "view-transition-name: status-#{@selected_status}" do %>
          <span class="tag tag-filter tag-selected tag-<%= @selected_status %>">
            <%= @selected_status.titlecase %>
            <%= inline_svg_tag 'icons/x-mini.svg' %>
          </span>
        <% end %>
      <% end %>

      <% @unselected_statuses.each do |status| %>
        <%= link_to job_leads_path(params.permit(:tags, :status).merge(status:)), class: 'inline-block', style: "view-transition-name: status-#{status}" do %>
          <span class="tag tag-filter tag-<%= status %>"><%= status.titlecase %></span>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="mb-4">
    <p class="ml-1 text-sm text-muted mb-1 [view-transition-name:tags-filter-label]">
      Filter job leads by tags:
    </p>
    <div class="flex flex-wrap items-center gap-1">
      <% @selected_tags.each do |tag| %>
        <% remaining_tags = @selected_tag_names - [tag.name] %>
        <%= link_to job_leads_path(params.permit(:tags, :status).merge(tags: remaining_tags.join(','))), class: 'inline-block', style: "view-transition-name: tag-#{tag.name.parameterize}" do %>
          <span class="tag tag-filter tag-selected">
            <%= tag.name %>
            <%= inline_svg_tag 'icons/x-mini.svg' %>
          </span>
        <% end %>
      <% end %>

      <% @unselected_tags.each do |tag| %>
        <% new_tags = (@selected_tag_names + [tag.name]).uniq %>
        <%= link_to job_leads_path(params.permit(:tags, :status).merge(tags: new_tags.join(','))), class: 'inline-block', style: "view-transition-name: tag-#{tag.name.parameterize}" do %>
          <span class="tag tag-filter"><%= tag.name %></span>
        <% end %>
      <% end %>
    </div>
  </div>

  <div id="job_leads" class="@container">
    <% if @job_leads.any? %>
      <div class="grid grid-cols-1 <%= '@4xl:grid-cols-2' if @job_leads.size >= 2 %> gap-5">
        <% @job_leads.each do |job_lead| %>
          <%= render job_lead %>
        <% end %>
      </div>
    <% else %>
      <div class="empty-state">
        No job leads found.
      </div>
    <% end %>
  </div>
</div>
