<%
  content_for :title,
    [
      "#{@selected_job_lead_type.presence&.titlecase} ",
      'Job Leads',
      (@selected_status.presence&.titlecase&.prepend(' - ')),
      (@selected_tag_names.any? ? " - #{@selected_tag_names.join(', ')}" : nil)
    ].compact.join
%>

<div class="sm:w-7/8 w-full mx-auto">
  <div class="mb-4 flex flex-wrap gap-2 items-center justify-between">
    <%= link_to dashboard_path, class: 'btn btn-sm btn-secondary btn-muted gap-1.5 [view-transition-name:back-btn]' do %>
      <%= icon 'arrow-left', class: 'size-3.5 shrink-0' %>
      <span>Back Home</span>
    <% end %>
  </div>

  <div class="flex flex-wrap justify-between items-start gap-2 mb-4">
    <div>
      <h1 class="heading">
        Job Leads
      </h1>
      <span class="ml-1 text-sm text-muted font-normal align-middle [view-transition-name:job-lead-count]">
        <%= job_lead_count_text @job_leads.size, type: @selected_job_lead_type, tags: @selected_tags.map(&:name), status: @selected_status %>
      </span>
    </div>

    <%= link_to new_job_lead_path, class: 'btn btn-primary mt-1' do %>
      <%= icon 'plus', class: 'size-5 shrink-0' %>
      <span>New Job Lead</span>
    <% end %>
  </div>

  <%= render 'filters' %>

  <div id="job_leads" class="@container">
    <% if @job_leads.any? %>
      <div class="<%= collection_layout_class_names :job_leads_display, count: @job_leads.size, size: :large %>">
        <%= render @job_leads %>
      </div>
    <% else %>
      <div class="empty-state">
        No job leads found.
      </div>
    <% end %>
  </div>
</div>
