<%
  content_for :title,
    [
      "#{params[:job_lead_type].presence&.titlecase} ",
      'Job Leads',
      (@selected_status.presence&.titlecase&.prepend(' - ')),
      (@selected_tag_names.any? ? " - #{@selected_tag_names.join(', ')}" : nil)
    ].compact.join
%>

<div class="sm:w-7/8 w-full mx-auto">
  <div class="mb-4 flex flex-wrap gap-2 items-center justify-between">
    <%= link_to root_path, class: 'btn btn-sm btn-secondary btn-muted gap-1.5 [view-transition-name:back-btn]' do %>
      <%= inline_svg_tag 'icons/arrow-left.svg', class: 'size-3.5 shrink-0' %>
      <span>Back Home</span>
    <% end %>
  </div>

  <div class="flex flex-wrap justify-between items-end gap-2 mb-4">
    <div>
      <h1 class="heading">
        Job Leads
      </h1>
      <span class="ml-1 text-sm text-muted font-normal align-middle [view-transition-name:job-lead-count]">
        <%= pluralize(@job_leads.size, "#{params[:job_lead_type].presence || 'total'} job lead") %>
      </span>
    </div>

    <%= link_to 'New Job Lead', new_job_lead_path, class: 'btn btn-primary' %>
  </div>

  <%= render 'filters', job_lead: @job_lead %>

  <div id="job_leads" class="@container">
    <% if @job_leads.any? %>
      <div class="grid grid-cols-1 <%= '@xl:grid-cols-2' if @job_leads.size >= 2 %> <%= '@4xl:grid-cols-3' if @job_leads.size >= 3 && @job_leads.size != 4 %> gap-3">
        <% @job_leads.each do |job_lead| %>
          <%= render job_lead %>
        <% end %>
      </div>
    <% else %>
      <div class="empty-state">
        No job leads found.
      </div>
    <% end %>
  </div>
</div>
