<% content_for :title, 'New Job Lead' %>

<div class="sm:w-7/8 w-full mx-auto">
  <div class="mb-4">
    <%= link_to job_leads_path, class: 'btn btn-sm btn-secondary btn-muted gap-1.5 [view-transition-name:back-btn]' do %>
      <%= icon 'arrow-left', class: 'size-3.5 shrink-0' %>
      <span>Back to Job Leads</span>
    <% end %>
  </div>

  <h1 class="heading mb-6">New Job Lead</h1>

  <div
    class="@container mx-auto mt-6 mb-8"
    data-controller="url-autofill"
    data-url-autofill-url-value="<%= autofill_job_leads_path %>"
    data-url-autofill-submit-text-value="Autofill from URL"
    data-url-autofill-working-text-value="Working…"
    data-url-autofill-error-class="text-rose-600 dark:text-rose-400 bg-rose-200/40 dark:bg-rose-900/30"
    data-url-autofill-success-class="text-primary-600 dark:text-primary-400 bg-primary-200/40 dark:bg-primary-600/20"
    data-url-autofill-info-class="text-blue-600 dark:text-blue-400 bg-blue-200/50 dark:bg-blue-600/20"
    data-url-autofill-tags-input-outlet="[data-controller='tags-input']"
    >
    <div class="mb-4">
      <h2 class="subheading">Autofill From URL</h2>
      <p class="text-sm text-soft mt-1 text-pretty">JobJournal can autofill details from <span class="text-normal font-medium">LinkedIn</span> or <span class="text-normal font-medium">Indeed</span>.</p>
    </div>


    <%= label_tag :autofill_url, 'Job URL', class: 'form-label' %>
    <div class="flex flex-col @md:flex-row gap-2">
      <%= url_field_tag :autofill_url, nil, class: 'form-input grow', placeholder: 'https://www.linkedin.com/jobs/view/...', data: { url_autofill_target: 'url', action: 'keydown.enter->url-autofill#submit' } %>

      <button
        type="button"
        class="btn btn-secondary whitespace-nowrap"
        data-url-autofill-target="submit"
        data-action="click->url-autofill#submit"
      >
        Autofill from URL
      </button>
    </div>
    <p class="text-xs text-muted mt-1">
      Find a bug or want another site supported for autofill?
      <%= link_to 'Open an issue', 'https://github.com/bradenr402/job-journal/issues/new', target: '_blank', rel: 'noopener', class: 'btn-link-primary text-xs' %> or email <%= mail_to 'jobjournalapp@gmail.com', class: 'btn-link-primary text-xs' %>.
    </p>

    <span
      class="hidden text-xs mt-2 py-0.5 px-1.5 rounded-sm"
      role="status"
      aria-live="polite"
      data-url-autofill-target="status"
      data-url-autofill-target="message"
    ></span>
  </div>

  <div class="flex items-center @2xl:col-span-2 my-4">
    <hr class="grow border-t border-neutral-200 dark:border-neutral-800">
    <span class="px-3 text-muted text-xs uppercase">
      or
    </span>
    <hr class="grow border-t border-neutral-200 dark:border-neutral-800">
  </div>

  <%= render 'form', job_lead: @job_lead %>
</div>
