<% content_for :title, "Job Lead - #{@job_lead.title} @ #{@job_lead.company}" %>

<div class="md:w-7/8 w-full mx-auto">
  <div class="mb-4 flex flex-wrap gap-2 items-center justify-between">
    <%= link_to job_leads_path(archived: @job_lead.archived?), class: 'btn btn-sm btn-secondary btn-muted gap-1.5' do %>
      <%= inline_svg_tag 'icons/arrow-left.svg', class: 'size-3.5 shrink-0' %>
      <span>Back to Job Leads</span>
    <% end %>
  </div>

  <%= render @job_lead %>

  <%= render 'shared/notes', notable: @job_lead, notes: @notes %>

  <!-- Interviews -->
  <div class="mt-12 @container">
    <div class="flex items-center justify-between mb-4">
      <h2 class="subheading">Interviews</h2>
      <%= link_to new_interview_path(job_lead_id: @job_lead.id), class: 'btn btn-primary gap-2' do %>
        <%= inline_svg_tag 'icons/interview.svg', class: 'size-4 shrink-0' %>
        <span>New Interview</span>
      <% end %>
    </div>
    <% if @interviews.any? %>
      <div class="grid grid-cols-1 <%= '@xl:grid-cols-2' if @interviews.size >= 2 %> <%= '@4xl:grid-cols-3' if @interviews.size >= 3 && @interviews.size != 4 %> gap-3">
        <% @interviews.each do |interview| %>
          <%= render interview %>
        <% end %>
      </div>
    <% else %>
      <div class="empty-state">
        No interviews yet.
      </div>
    <% end %>
  </div>
</div>
