<% 
  css_class = case type.to_s
  when 'success'
    '-mx-(--main-padding) w-[100vw] md:w-full md:rounded-t-xl py-3 px-6 bg-primary-100 dark:bg-primary-950/70 text-primary-600 dark:text-primary-500 text-center text-pretty'
  when 'error'
    '-mx-(--main-padding) w-[100vw] md:w-full md:rounded-t-xl py-3 px-6 bg-rose-100 dark:bg-rose-950/70 text-rose-600 dark:text-rose-500 text-center text-pretty'
  when 'notice'
    '-mx-(--main-padding) w-[100vw] md:w-full md:rounded-t-xl py-3 px-6 bg-blue-100 dark:bg-blue-950/70 text-blue-600 dark:text-blue-500 text-center text-pretty'
  when 'alert'
    '-mx-(--main-padding) w-[100vw] md:w-full md:rounded-t-xl py-3 px-6 bg-yellow-100 dark:bg-yellow-950/70 text-yellow-600 dark:text-yellow-500 text-center text-pretty'
  else
    '-mx-(--main-padding) w-[100vw] md:w-full md:rounded-t-xl py-3 px-6 bg-blue-100 dark:bg-blue-950/70 text-blue-600 dark:text-blue-500 text-center text-pretty'
  end
  
  timeout = ['error', 'alert'].include?(type.to_s) ? 10000 : 6000
  flash_id = "flash-#{SecureRandom.uuid}"
%>

<p class="<%= css_class %>" id="<%= flash_id %>"><%== message %></p>

<script>
  setTimeout(() => {
    const el = document.getElementById('<%= flash_id %>')
    if (el) el.remove()
  }, <%= timeout %>)
</script>
