<title><%= [ content_for(:title), 'JobJournal' ].compact.join(' • ') %></title>
<meta name="viewport" content="width=device-width,initial-scale=1">

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= yield :head %>

<!-- PWA tags -->
<%= tag.link rel: 'manifest', href: pwa_manifest_path(format: :json) %>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-mobile-web-app-title" content="JobJournal">

<%= favicon_link_tag 'icon.png', rel: 'icon', type: 'image/png' %>

<link rel="icon" href="/assets/icon.png" type="image/png">
<link rel="icon" href="/assets/icon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/assets/icon.png">

<%# Includes all stylesheet files in app/assets/stylesheets %>
<%= stylesheet_link_tag :app, 'data-turbo-track': 'reload' %>
<%= javascript_importmap_tags %>

<meta name="view-transition" content="same-origin" />
