<!DOCTYPE html>
<html class="[--sidebar-width:18rem] <%= authenticated? ? '[--tab-bar-height:3.6rem]' : '[--tab-bar-height:0rem]' %> [--body-padding:0.375rem] max-md:[--main-padding:1rem]">
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body class="bg-neutral-200/80 dark:bg-black text-normal md:p-(--body-padding) selection:bg-primary-500/30">
    <%= render 'components/nav' if authenticated? %>

    <div class="bg-white dark:bg-neutral-900/60 md:rounded-2xl md:not-dark:shadow-2xs dark:border dark:border-neutral-900 px-(--main-padding) <%= 'max-md:pb-(--tab-bar-height) md:ml-(--sidebar-width)' if authenticated? %>">
      <div id="flash">
        <%= render 'components/flash' %>
      </div>
      <main class="container mx-auto pt-28 pb-16 min-h-[calc(100vh-var(--tab-bar-height))] md:min-h-[calc(100vh-var(--body-padding)*2)]">
        <%= yield %>
      </main>
    </div>

    <% if authenticated? %>
      <div class="absolute top-3 left-3 md:hidden" data-controller="dropdown" data-dropdown-hide-dropdown-class="dropdown-hidden" data-dropdown-show-dropdown-class="dropdown-show">
        <button class="dropdown-trigger" data-action="mousedown->dropdown#toggle keydown->dropdown#handleKeydown">
          <span class="sr-only">Menu</span>
          <%= inline_svg_tag 'icons/menu.svg', class: 'size-6' %>
        </button>

        <div class="dropdown-menu dropdown-menu-bottom-right dropdown-hidden" data-dropdown-target="menu">
          <% dropdown_links = [
            { key: :account, path: account_path, label: 'Account', icon: 'profile' },
            { key: :settings, path: settings_path, label: 'Settings', icon: 'settings' },
            { key: :security, path: security_path, label: 'Security', icon: 'security' },
          ] %>

          <% dropdown_links.each do |link| %>
            <%= link_to link[:path], class: 'dropdown-option dropdown-option-secondary' do %>
              <%= inline_svg_tag "icons/#{link[:icon]}.svg", class: 'size-5 shrink-0' %>
              <span><%= link[:label] %></span>
            <% end %>
          <% end  %>

          <div class="dropdown-divider"></div>

          <%= button_to session_path, method: :delete, form_class: 'w-full text-left', class: 'dropdown-option dropdown-option-destructive' do %>
            <%= inline_svg_tag 'icons/logout.svg', class: 'size-5 shrink-0' %>
            <span>Sign Out</span>
          <% end %>
        </div>
      </div>

      <div class="absolute top-3 right-3 md:hidden">
        <%= link_to search_path, class: "inline-flex gap-1.5 cursor-pointer items-center justify-center rounded-lg p-1.25 text-sm font-medium bg-neutral-100 dark:bg-neutral-900 text-light hover:bg-neutral-200 dark:hover:bg-neutral-800 active:bg-neutral-300 dark:active:bg-neutral-700 transition-all duration-150 focus-visible:ring-2 focus-visible:ring-primary-600 focus-visible:outline-none active:scale-96 #{ 'text-primary-600' if current_page?(search_path)}" do %>
          <span class="sr-only">Search</span>
          <%= inline_svg_tag 'icons/search.svg', class: 'size-6' %>
        <% end %>
      </div>
    <% end %>
  </body>
</html>
