<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body class="bg-neutral-200/80 dark:bg-black text-normal">
    <%= render 'components/flash', rounded: false %>

    <div class="min-h-svh grid place-items-center">
      <main class="flex items-center justify-center h-full px-4 pt-12 pb-32">
        <div class="max-w-lg mx-auto sm:w-7/8 w-full">
          <div class="flex justify-center mb-8">
            <%= link_to root_path, class: 'flex items-center gap-1.5 text-primary-600 transition-opacity duration-150 hover:opacity-80' do %>
              <%= inline_svg_tag 'icons/note-filled.svg', class: 'size-7 shrink-0' %>
              <span class="text-2xl font-extrabold tracking-tight">JobJournal</span>
            <% end %>
          </div>

          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
